a{
    color: #000;
    text-decoration: none;
    font-family: Arimo, 'Open Sans', sans-serif;
}

nav li a{
    font-size: 13px;
}
#signIn{
    padding: 0px 12px;
    color: white;
    border: none;
    background-color: rgb(66, 133, 244);
    font-size: 13px;
}

li {
    display: inline;
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

.right{
    float: right;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer ul {
    position: fixed;
    bottom: 0;
    width: 100%;

}

footer a {
    color: rgb(95, 99, 104);
    font-size: 14px;
}

#footer{

    display: block;
    width: 100%;
    margin-bottom: 0px;
}
img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -46px 0 0 -136px;
}

#logo{
    margin: 0 auto;
}